header.sunrise
  .sunrise__wrapper
    a.sunrise__logo(href='/')
        img(src='https://home.vivintsolar.com/img/vivint.solar.logo.svg',alt='Vivint Solar Logo')

    .sunrise-menu
        a.sunrise-menu__close(href='#') Close
        ul
            each item in menu
                li
                    a(href="#{item.link}" class="#{item.class}") #{item.text}
                        
    nav.sunrise__menu
        
        .sunrise__menu__overlay
        ul
            li

                a.sunrise__menu--trigger(href='#menu') Menu

            each item in menu
                li
                    if item.link
                        a(href="#{item.link}" class=(item.class ? item.class : '')) #{item.text}
                    else
                        | #{item.text}
    
.sunrise-placeholder