header.sunrise

    a.sunrise__logo(href='/')
        img(src='https://home.vivintsolar.com/img/vivint.solar.logo.svg',alt='Vivint Solar Logo')
    nav.sunrise__menu
        
        .sunrise__menu__overlay
        ul
            li

                a.sunrise__menu--trigger(href='#menu') 
                    img(src='menu.svg',alt='Menu',class='sunrise__menu--icon') 
                    | Menu

            each item in menu
                li
                    if item.link
                        a(href="#{item.link}" class=(item.class ? item.class : '')) #{item.text}
                    else
                        | #{item.text}
    .sunrise-menu
        a.sunrise-menu__close(href='#') Close
        ul
            each item in menu
                li
                    a(href="#{item.link}" class="#{item.class}") #{item.text}
.sunrise-placeholder