footer.sunset
    .sunset__wrapper
        .sunset__menus
            
            each column in menus
                //- - console.log(column)
                each item in column
                    //- | #{item}
                div.sunset__column
                    h3 #{column.title}
                    
                    ul
                        each item, key in column.menu
                            li
                                a(href="#{item.link}") #{item.text}

        .sunset__legal
            .sunset__ratings
              img(src='https://vivintsolarcdn.com/daylight/images/ConsumerAffairs.png',alt='Consumer Affarirs Logo with 4.5 star overall satisfaction rating')
            .sunset__legal-links
                a(href="/privacy-policy") Privacy Policy
                a(href="/terms-of-use") Terms and Conditions
                a(href="/solar-insurance") Insurance
            .sunset__copyright
                p Copyright © 2016 Vivint Solar Developer, LLC. All rights reserved. Vivint Solar Developer, LLC (EIN: 8O‐O756438) is a licensed contractor in each state in which we operate. For information about our contractor licenses, please visit #[a(href="/licenses") vivintsolar.com/licenses].
script(src="#{jsURL}")