footer.sunset
    .sunset__wrapper
        .sunset__menus
            
            each column in menus
                //- - console.log(column)
                each item in column
                    //- | #{item}
                div.sunset__column
                    h3 #{column.title}
                    
                    ul
                        each item, key in column.menu
                            li
                                a(href="#{item.link}") #{item.text}

        .sunset__legal
            .sunset__legal-links
                a(href="http://www.vivintsolar.com/en/privacy-policy") Privacy Policy
                a(href="http://www.vivintsolar.com/en/terms-of-use") Terms and Conditions
                a(href="http://www.vivintsolar.com/en/solar-insurance") Insurance
            .sunset__copyright
                p Copyright © 2016 Vivint Solar Developer, LLC. All rights reserved. Vivint Solar Developer, LLC (EIN: 8O‐O756438) is a licensed contractor in each state in which we operate. For information about our contractor licenses, please visit
                    a(href="http://www.vivintsolar.com/en/licenses") vivintsolar.com/licenses
                    |.
script(src="#{jsURL}")